* {
  box-sizing: border-box;
}

.logo {
  display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}


ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;

}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: inline-block;
  color: white;
  background-color: black;
  letter-spacing: 8px;
  margin: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

span {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows:  1fr 1fr 1fr;
  text-align: center;
  max-width: 70%;
  row-gap: 25px;
}
.photoOne {
  background-color: pink;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  border: .5px solid black;
}

.boxOne {
  grid-column: 2/-1;
  grid-row: 1/2;
  border: .5px solid black;
  padding: 20px;
}

.photoTwo {
  background-color: blue;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
  border: .5px solid black;

}

.boxTwo {
  grid-column: 2/-1;
  grid-row: 2/3;
  border: .5px solid black;
  padding: 20px;

}

.photoThree {
  background-color: grey;
  width: 100%;
  height:100%;
  grid-column: 1/2;
  grid-row: 3/-1;
  border: .5px solid black;
}

.boxThree {
  grid-column: 2/-1;
  grid-row: 3/-1;
  border: .5px solid black;
  padding: 20px;
}

button {
  background-color: black;
  color: white;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
}